<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Innehåll i nedanstående rad ges av specifika html-filer -->
    <title>{% block title %}Template{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a> |
      </nav>
    </header>
    <!-- Innehåll i nedanstående rad ges av specifika html-filer -->
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; </p>
    </footer>
  </body>

</html>
